config router bgp
  set as 65101
  set router-id 10.254.254.{{branch_id}}
  set keepalive-timer 5
  set holdtime-timer 15
  set ibgp-multipath enable
  set ebgp-multipath enable
  set additional-path enable
  set additional-path-select 255
  set recursive-next-hop enable
  config neighbor-group
    edit "EDGE"
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set next-hop-self enable
      set remote-as 65101
      set additional-path send
      set adv-additional-path 255
      set route-reflector-client enable
    next
  end
  config neighbor-range
    edit 1
      set prefix 10.254.100.0 255.255.252.0
      set neighbor-group "EDGE"
    next
    edit 2
      set prefix 10.254.104.0 255.255.252.0
      set neighbor-group "EDGE"
    next
    edit 3
      set prefix 10.254.108.0 255.255.252.0
      set neighbor-group "EDGE"
    next
    edit 4
      set prefix 10.254.112.0 255.255.252.0
      set neighbor-group "EDGE"
    next
  end
  config network
    {% set networks = lan_summary.split(',') %}
    {% for SN in networks %}
      {% set net = SN.strip() %}
        edit 0
          set prefix {{ net }}
        next
    {% endfor %}
  end
config router static
  edit 102
    set dst 10.254.100.0/20
    set blackhole enable
    set comment "Avoid potential recursive resolution of corporate BGP routes via underlay"
  next
end
config router prefix-list
    edit "RZFGT-NET"
        config rule
              config network
              {% set networks = lan_summary.split(',') %}
                {% for SN in networks %}
                  {% set net = SN.strip() %}
                      edit 0
                        set prefix {{ net }}
                        unset ge
                        unset le
                      next
                {% endfor %}
            next
        end
    next
end
config router route-map
    edit "RZFGT-OUT"
        config rule
            edit 1
                set match-ip-address "RZFGT-NET"
            next
        end
    next
    edit "overlay_priority"
        config rule
            edit 1
                set match-community "comm_650101:1"
                set match-community-exact enable
                set set-route-tag 1
            next
            edit 2
                set match-community "comm_650101:2"
                set set-route-tag 2
            next
            edit 3
                set match-community "comm_650101:999"
                set set-route-tag 999
            next
        end
    next
    edit "INTERLINK"
        config rule
            edit 1
                set set-community "65001:101"
            next
        end
    next
end
